* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: solid 1px red;
}
* .LogoContenedor {
  display: none;
}

body {
  background-color: #e5edd5;
}

.Body {
  display: grid;
  grid-template-areas: "Nav Nav Nav" "Cartas Cartas Cartas" "Cartas Cartas Cartas" "Info Info Info" "CartaS CartaS CartaS" "Redes Redes Redes" "MP MP MP" "BarraAbajo BarraAbajo BarraAbajo " "Copi Copi Copi";
}

.BodyP {
  grid-template-areas: "Nav Nav Nav" "Titulos Titulos Titulos" "Cartas Cartas Cartas" "CartaS CartaS CartaS" "Redes Redes Redes" "MP MP MP" "BarraAbajo BarraAbajo BarraAbajo" "Copi Copi Copi";
}
.BodyP main {
  height: 220vh;
}

.BodyS {
  grid-template-areas: "Nav Nav Nav" "Titulos Titulos Titulos" "Mapa Mapa Mapa" "Mapa Mapa Mapa" "Redes Redes Redes" "MP MP MP" "BarraAbajo BarraAbajo BarraAbajo" "Copi Copi Copi";
}

.Barra {
  background-color: #7A7A6D;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 15vh;
  width: 200vh;
  border-radius: 8px;
  grid-area: Nav;
  margin: auto;
  padding: 4vh;
  list-style: none;
  color: #C7B1B1;
  font-size: 1.6rem;
  text-align: center;
}
.Barra li {
  text-decoration: none;
  color: #C7B1B1;
  transition: all 0.25s;
  display: inline-block;
}
.Barra a {
  margin: 1vh;
  text-decoration: none;
  color: #C7B1B1;
  transition: all 0.25s;
}
.Barra a:hover {
  color: #AA9898;
}
.Barra h1 {
  font-size: 4rem;
}

.Fotos {
  grid-area: Cartas;
  margin: auto;
  height: 500px;
}

.Contenedor {
  width: 100%;
  max-width: 1200px;
  height: 76vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.Contenedor .Carta {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  cursor: pointer;
}
.Contenedor .Carta:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.Contenedor .Carta img {
  width: 330px;
  height: 220px;
}
.Contenedor .Carta h4 {
  font-weight: 600;
}
.Contenedor .Carta p {
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 300;
}

.Fotos2 {
  grid-area: CartaS;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 500px;
}

.Contenedor2 {
  width: 100%;
  max-width: 1200px;
  height: 76vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.Contenedor2 .Carta {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  cursor: pointer;
}
.Contenedor2 .Carta:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.Contenedor2 .Carta img {
  width: 330px;
  height: 220px;
}
.Contenedor2 .Carta h4 {
  font-weight: 600;
}
.Contenedor2 .Carta p {
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 300;
}

.Fotos3 {
  grid-area: Cartas;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 500px;
}

.Contenedor3 {
  width: 100%;
  max-width: 1200px;
  height: 76vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}
.Contenedor3 .Carta {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  cursor: pointer;
}
.Contenedor3 .Carta:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.Contenedor3 .Carta img {
  width: 330px;
  height: 220px;
}
.Contenedor3 .Carta h4 {
  font-weight: 600;
}
.Contenedor3 .Carta p {
  padding: 0px 10px;
  font-size: 16px;
  font-weight: 300;
}

main {
  height: 135vh;
}

.Info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #C7B1B1;
  grid-area: Info;
}
.Info div {
  background-color: #7A7A6D;
  border-radius: 8px;
  width: 90%;
  height: 60vh;
  margin: auto;
  padding: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Info h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.Info2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #C7B1B1;
  grid-area: Info;
}
.Info2 div {
  background-color: #7A7A6D;
  border-radius: 8px;
  width: 90%;
  height: 80vh;
  margin: auto;
  padding: 6vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Info2 h2 {
  font-weight: 600;
  margin-bottom: 20px;
}

.Titulos {
  background-color: #7A7A6D;
  border-radius: 8px;
  width: 220vh;
  height: 15vh;
  margin: auto;
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 4vh;
  grid-area: Titulos;
  color: #C7B1B1;
  transition: all 0.25s;
}
.Titulos:hover {
  color: #AA9898;
}

.Mapa {
  background-color: #D4CFBE;
  width: 60%;
  height: 100vh;
  text-align: center;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
  grid-area: Mapa;
}
.Mapa iframe {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: all 0.25s;
  cursor: pointer;
}
.Mapa iframe:hover {
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.Mapa p {
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
  color: #AA9898;
}

.Formulario {
  background-color: #D4CFBE;
  width: 50%;
  height: 400px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 30px;
}
.Formulario h2 {
  font-weight: bold;
  margin-bottom: 20px;
}

.Footer {
  grid-area: Redes;
}
.Footer .Redes {
  background-color: #7A7A6D;
  border-radius: 8px;
  width: 200vh;
  height: 3vh;
  margin: auto;
  padding: 30px;
}
.Footer ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  font-size: 4vh;
}
.Footer ul a {
  text-decoration: none;
  color: #C7B1B1;
  transition: all 0.25s;
}
.Footer ul a:hover {
  color: #AA9898;
}
.Footer .MP {
  text-align: center;
  height: 2vh;
  margin-bottom: 40px;
  padding: 20px;
  font-weight: bold;
  grid-area: MP;
}
.Footer .BarraAbajo {
  background-color: #7A7A6D;
  display: flex;
  flex-direction: row;
  height: 15vh;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 8px;
  grid-area: BarraAbajo;
}
.Footer .BarraAbajo ul {
  display: flex;
  flex-wrap: wrap;
}
.Footer .BarraAbajo ul li {
  margin: 1vh;
  padding: auto;
}
.Footer .Copi {
  text-align: center;
  height: 2vh;
  margin-bottom: 40px;
  padding: 20px;
  font-weight: bold;
  grid-area: Copi;
}
.Footer .Copi p {
  margin: 5px;
}

@media screen and (max-width: 1125px) {
  .Body {
    grid-template-areas: "Nav Nav Nav" "Cartas Cartas Cartas" "Info Info Info" "CartaS CartaS CartaS" "Redes Redes Redes" "MP MP MP" "BarraAbajo BarraAbajo BarraAbajo " "Copi Copi Copi";
  }
  .BodyP main {
    height: 400vh;
  }
  .Barra {
    flex-direction: column-reverse;
    height: 26vh;
    width: 85%;
  }
  .Fotos {
    height: 185vh;
  }
  .Fotos2 {
    height: 90vh;
  }
  .Footer {
    align-self: center;
  }
  .Footer .Redes {
    width: 85%;
  }
  .Titulos {
    width: 85%;
  }
  .LogoContenedor {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .Body {
    grid-template-areas: "Nav Nav Nav" "Logo Logo Logo" "Info Info Info" "CartaS CartaS CartaS" "Redes Redes Redes" "MP MP MP" "BarraAbajo BarraAbajo BarraAbajo" "Copi Copi Copi";
  }
  .Body main {
    height: 160vh;
  }
  .BodyP main {
    height: 300vh;
  }
  .Fotos {
    display: none;
  }
  .Fotos2 {
    height: 185vh;
  }
  .LogoContenedor {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: Logo;
    background-color: #7A7A6D;
    padding: auto;
    margin: 30px;
    border-radius: 8px;
  }
  .Logo img {
    border-radius: 8px;
    width: 100%;
  }
  .BarraAbajo ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: 26vh;
  }
  .Contenedor2 {
    width: 600px;
  }
  .Redes {
    width: 75%;
  }
  .Info2 div {
    height: 110vh;
  }
}
@media screen and (max-width: 1000px) {
  .Info div {
    height: 90vh;
  }
  .BarraAbajo ul {
    height: 20vh;
    padding: auto;
  }
}
@media screen and (max-width: 580px) {
  .Info2 div {
    height: 160vh;
  }
  .Body main {
    height: 210vh;
  }
}

/*# sourceMappingURL=main.css.map */
