* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #E5EDD5;
}

.Body{
    display: grid;
    grid-template-areas: 
    "Nav Nav Nav"
    "Cartas Cartas Cartas"
    "Cartas Cartas Cartas"
    "Info Info Info"
    "CartaS CartaS CartaS"
    "Redes Redes Redes"
    "MP MP MP"
    "BarraAbajo BarraAbajo BarraAbajo "
    "Copi Copi Copi";
}
.BodyP{
    grid-template-areas: 
    "Nav Nav Nav"
    "Titulos Titulos Titulos"
    "Cartas Cartas Cartas"
    "CartaS CartaS CartaS"
    "Redes Redes Redes"
    "MP MP MP"
    "BarraAbajo BarraAbajo BarraAbajo"
    "Copi Copi Copi";
}

.BodyS{
    grid-template-areas: 
    "Nav Nav Nav"
    "Titulos Titulos Titulos"
    "Mapa Mapa Mapa"
    "Mapa Mapa Mapa"
    "Redes Redes Redes"
    "MP MP MP"
    "BarraAbajo BarraAbajo BarraAbajo"
    "Copi Copi Copi";
}


.Barra { 
    background-color: #7A7A6D;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    height: 100px;
    justify-content: space-around;
    font-size: 25px;
    border-radius: 8px;
    grid-area: Nav;
}

.Barra  li{
    list-style:none;
    display: inline-block;
    margin-right: 20px;
    color: #C7B1B1;
    
}

a { 
  text-decoration: none;  
  color: #C7B1B1;
}

.Barra h1 {
    font-size: 60px;
}
.Fotos{
    grid-area: Cartas;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 500px;
}
.Contenedor {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    

}

.Contenedor .Carta {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    cursor: pointer;
}

.Contenedor .Carta:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.Contenedor .Carta img {
    width: 330px;
    height: 220px;
}

.Contenedor .Carta h4 {
    font-weight: 600;
}

.Contenedor .Carta p {
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 300;
}
.Fotos2{
    grid-area: CartaS;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: repeat(auto-fill, minmax(min(15rem, 25rem), 1fr))
}
.Contenedor2 {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.Contenedor2 .Carta {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    cursor: pointer;
}

.Contenedor2 .Carta:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.Contenedor2 .Carta img {
    width: 330px;
    height: 220px;
}

.Contenedor2 .Carta h4 {
    font-weight: 600;
}

.Contenedor2 .Carta p {
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 300;
}

.Fotos3{
    grid-area: CartaS;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-template-columns: repeat(auto-fill, minmax(min(15rem, 25rem), 1fr))
}
.Contenedor3 {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.Contenedor3 .Carta {
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    cursor: pointer;
}

.Contenedor3 .Carta:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.Contenedor3 .Carta img {
    width: 330px;
    height: 220px;
}

.Contenedor3 .Carta h4 {
    font-weight: 600;
}

.Contenedor3 .Carta p {
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 300;
}

.Info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #C7B1B1;
    grid-area: Info;
}
.Info div{
    background-color: #7A7A6D;
    border-radius: 8px;
    width: 90%;
    height: 300px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}

.Info h2{
    font-weight: 600;
    margin-bottom: 20px;
}
.Redes{
    grid-area: Redes;
}
.Redes1{
    background-color: #7A7A6D;
    border-radius: 8px;
    width:90%;
    height: 4vh;
    margin: 40px;
    padding: 30px;
}

.Redes ul{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    font-size: 4vh;
}

.MP {
    text-align: center;
    height: 2vh;
    margin-bottom: 40px;
    padding: 20px;
    font-weight: bold;
    grid-area: MP;
}

.BarraAbajo { 
    background-color: #7A7A6D;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    height: 100px;
    justify-content: space-around;
    font-size: 25px;
    border-radius: 8px;
    grid-area: BarraAbajo;
}

.BarraAbajo  li{
    list-style:none;
    display: inline-block;
    margin-right: 20px;
    color: #C7B1B1;
}

.Copi {
    text-align: center;
    height: 2vh;
    margin-bottom: 40px;
    padding: 20px;
    font-weight: bold;
    grid-area: Copi;
}
.Copi p{
    margin: 5px;
}

.Titulos{
    background-color: #7A7A6D;
    border-radius: 8px;
    width:90%;
    height: 4vh;
    margin-top: 40px;
    margin-left: 30px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vh;
    grid-area: Titulos;
    color: #C7B1B1;
}

.Mapa{
    background-color: #D4CFBE;
    width: 60%;
    height: 500px;
    text-align: center;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
    grid-area: Mapa;
}

.Mapa p{
    font-size: 20px;
    margin-top: 5px;
    font-weight: bold;
    color: #aa9898;
}

.Formulario{ 
    background-color: #D4CFBE;
    width: 50%;
    height: 400px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 30px;
}

.Formulario h2{
    font-weight: bold;
    margin-bottom: 20px;
}

@media screen and (max-width: 1100px){
    .Body{
        grid-template-areas: 
        "Nav Nav Nav"
        "Cartas Cartas Cartas"
        "Info Info Info"
        "CartaS CartaS CartaS"
        "Redes Redes Redes"
        "MP MP MP"
        "BarraAbajo BarraAbajo BarraAbajo "
        "Copi Copi Copi";
        
    }

    .Barra { 
        flex-direction: column-reverse;
        height: 140px;
    }
    .Barra li{
        margin-top: 15px;
    }
    .Fotos {
        height: 900px;
    }

    .Fotos2 {
        height: 430px;
    }

    .Fotos3 {
        width: 100%;
        height: 900px;
    }

    .Info div{
        height: 75vh;
    }

    .Redes{
        align-self: center;
    }

    .Redes1{
        width: 85%;
    }

    .Titulos{
        width: 85%;
    }
    }
    .LogoContenedor{
        display: none;
    }
    @media screen and (max-width:760px){
        .Body{
            grid-template-areas: 
            "Nav Nav Nav"
            "Logo Logo Logo"
            "Info Info Info"
            "CartaS CartaS CartaS"
            "Redes Redes Redes"
            "MP MP MP"
            "BarraAbajo BarraAbajo BarraAbajo"
            "Copi Copi Copi";
        }
        .Barra{
            height: 200px;
        }

        .Fotos{ 
            display: none;
        }
        .Fotos2{
            height: 900px;
        }
        .LogoContenedor{
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: Logo;
            background-color: #7A7A6D;
            padding: auto;
            margin: 30px;
            border-radius: 8px;
        }

        .Logo img{
            border-radius: 8px;
            width:100%;
        }
     
        .Info div{ 
            height: 90vh;
        }

        .Contenedor2 {
            width: 600px;
        }

        .Redes{
            align-self: center;
        }
    
        .Redes1{
            width: 75%; 
        }
    }

    @media screen and (max-width:740px){
        .Fotos3{
            height: 1400px;
        }
    }


