* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    .LogoContenedor{
        display: none;
    }
    
}
body{
    background-color: $cFondo;
    
}

.Body{
    display: grid;
    grid-template-areas: 
    "Nav Nav Nav"
    "Cartas Cartas Cartas"
    "Cartas Cartas Cartas"
    "Info Info Info"
    "CartaS CartaS CartaS"
    "Redes Redes Redes"
    "MP MP MP"
    "BarraAbajo BarraAbajo BarraAbajo "
    "Copi Copi Copi";
}
.BodyP{
    grid-template-areas: 
    "Nav Nav Nav"
    "Titulos Titulos Titulos"
    "Cartas Cartas Cartas"
    "CartaS CartaS CartaS"
    "Redes Redes Redes"
    "MP MP MP"
    "BarraAbajo BarraAbajo BarraAbajo"
    "Copi Copi Copi";
    main{
        height: 220vh;
    }
}

.BodyS{
    grid-template-areas: 
    "Nav Nav Nav"
    "Titulos Titulos Titulos"
    "Mapa Mapa Mapa"
    "Mapa Mapa Mapa"
    "Redes Redes Redes"
    "MP MP MP"
    "BarraAbajo BarraAbajo BarraAbajo"
    "Copi Copi Copi";
}

.Formulario .Btn{
    background-color: $cFondoDos;
    height: 6vh;
    width: 20vh;
    border-radius: 6px;
    color: $cFuente;
    transition: all 0.25s;
    &:hover{
        background-color: $cFondoBtn;
    }

}
