.Footer{
    grid-area: Redes;
    .Redes{
        background-color: #7A7A6D;
        border-radius: 8px;
        width:200vh;
        height: 3vh;
        margin: auto;
        padding: 30px;
    }
    ul{
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        font-size: 4vh;
        a{
            @include anc;
            &:hover{
                color: $cFuenteSec;
            }
        }
    }
    .MP {
        text-align: center;
        height: 2vh;
        margin-bottom: 40px;
        padding: 20px;
        font-weight: bold;
        grid-area: MP;
    }
    .BarraAbajo { 
        background-color: #7A7A6D;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;
        height: 100px;
        justify-content: space-around;
        font-size: 1.6rem;
        border-radius: 8px;
        grid-area: BarraAbajo;
        li{
            margin-right: 20px;
        }
    }
    .Copi {
        text-align: center;
        height: 2vh;
        margin-bottom: 40px;
        padding: 20px;
        font-weight: bold;
        grid-area: Copi;
        p{
            margin: 5px;   
        }
    }
}
