@mixin anc {
    text-decoration: none;
    color: $cFuente;
    transition: all 0.25s;
}
@mixin list {
    list-style: none;
    color: $cFuente;
    font-size: 1.6rem;
    text-align: center;
}

.Barra {
    background-color: $cFondoDos;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
    width: 200vh;
    border-radius: 8px;
    grid-area: Nav;
    margin: auto;
    padding: 4vh;
    @include list;
    li{
        @include anc;
        display: inline-block;
    }

    a{
        margin: 1vh;
        @include anc;
        &:hover{
            color: $cFuenteSec;
        }
    }
    
    h1{
        font-size: 4rem;
    }
}