@media screen and (max-width: $mediaDesktop){
    .Body{
        grid-template-areas: 
        "Nav Nav Nav"
        "Cartas Cartas Cartas"
        "Info Info Info"
        "CartaS CartaS CartaS"
        "Redes Redes Redes"
        "MP MP MP"
        "BarraAbajo BarraAbajo BarraAbajo "
        "Copi Copi Copi"; 
    }
    .BodyP main{
        height: 400vh;
    } 
    
    .Barra { 
        flex-direction: column-reverse;
        height: 26vh;
        width: 85%;
    }

    .Fotos{
        height: 185vh;
    }
    .Fotos2 {
        height: 90vh;
    }

    .Footer{
        align-self: center;
        .Redes{
        width: 85%;
    }
    }
    .Titulos{
        width: 85%;
    }
    .LogoContenedor{
        display: none;
    }
    }

    @media screen and (max-width:$mediaMobile){
        .Body{
            grid-template-areas: 
            "Nav Nav Nav"
            "Logo Logo Logo"
            "Info Info Info"
            "CartaS CartaS CartaS"
            "Redes Redes Redes"
            "MP MP MP"
            "BarraAbajo BarraAbajo BarraAbajo"
            "Copi Copi Copi";
        }
       .Body main{
        height: 160vh;
       }
       .BodyP main{
        height: 300vh;
       }
        .Fotos{ 
            display: none;
        }
        .Fotos2{
            height: 185vh;
        }
        
        .LogoContenedor{
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            grid-area: Logo;
            background-color: #7A7A6D;
            padding: auto;
            margin: 30px;
            border-radius: 8px;
        }

        .Logo img{
            border-radius: 8px;
            width:100%;
        }
     
       .BarraAbajo ul{
        display: flex;
        justify-content: center;
        flex-direction: row;
        height: 26vh;
       }
        .Contenedor2 {
            width: 600px;
        }

        .Redes{
            width: 75%; 
        }
        .Info2 div{
            height: 110vh;
            
        }
    }

    @media screen and (max-width:$mediaMobileDos){
        
    }
    
    @media screen and (max-width:$media1000){
        .Info div{
            height: 90vh;
        }
        .BarraAbajo ul{
            height: 20vh;
            padding: auto;
        }
    }

    @media screen and (max-width:$media580){
        .Info2 div{
            height: 160vh;
        }
        .Body main{
            height: 210vh;
        }
    }
    
    