$cFondo:#e5edd5;
$cFondoDos:#7A7A6D;
$cFuente:#C7B1B1;
$cFondoSec:#D4CFBE;
$cFuenteSec:#AA9898;
$cFondoBtn:#463426;
$mediaMobile: 760px;
$mediaMobileDos: 740px;
$mediaDesktop: 1125px;
$media1000: 1000px;
$media580: 580px;
$media450:450px;

